.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  max-width: 300px;
  color: black;
  padding: 0;
}

.nav-buttons {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.nav-buttons button {
  background-color: #0073e6;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-buttons button:hover {
  background-color: #005bb5;
}
